{% extends 'bootstrap/base.html' %}

{% block title %}
  TL;DR 
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div style="margin: 5px; font-size: 18px; text-align: center;"> 
        <a href="/index"  >Main</a> 
        <a href="/about" style="padding-left: 10px;">About</a>  
      </div>
    </nav>
{% endblock %}

{% block content %}
  <div class="container" style="border: none; margin-bottom: 10px;">
    <div class="jumbotron" style="text-align: center; margin-bottom: 0px;">
      <h2 >TL;DR</h2>
      <h4>A Text Summarizer using latent semantic analysis for the astute readers.</h3>
      <p style="font-size:18px">Tl;dr - /ti:,el di:'ɑr/: Too long, didn't read. An expression originally reserved for expressing one's contempt for the unnecessary verbosity of a piece of internet writing. Also used to signal a readily consumable summary of such writings. </p>
    </div>
  </div>
  

  {% block pagecontent %}
  {% endblock %}
{% endblock %}
